/* 圆角搜索框 */
.van-search .van-cell {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 3px 10px;
  border-radius: 27px;
}

.van-tabs__line {
  z-index: 1;
  left: 0;
  bottom: 15px;
  height: 3px;
  position: absolute;
  border-radius: 3px;
  background-color: #F1BE37;
}

.van-tabs__nav :nth-child(3) {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;

}